.lesson__btn {
	border-radius: 16px;
	background-color: pink;
	color: #000;
	padding: 8px 16px;
	margin: 8px;
	cursor: pointer;
	float: left;
  }
  .todo-list {
	margin-top: 50px;
	border: 1px dashed pink;
	padding: 16px;
  }
  .todo-list__item {
	border: 1px solid #fff;
	margin: 12px;
	padding: 0px 16px;
	margin-top: 19px;
  }
  .todo-input {
	padding: 8px;
	width: 97%;
  }
  .phone{

	background-color: rgb(49, 49, 49);
  }

  text{
	color: white;
  }